.header-color {
  height: 80px;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team-div {
  padding-top: 130px;
  display: block;
  margin-left: 35px;
}

.table-styling {
    text-align: center;
}

.align-center {
    font-size: 15px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.font-styling {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.close-modal {
  padding-top: 25px;
}

.large-img {
  padding-top: 15px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.move-down {
    padding-top: 30px;
}

.move-down-more {
    padding-top: 200px;
}

.slogan {
  margin-top: 45px;
  text-align: center;
}

.slogan-name {
  font-size: 30px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #DC143C;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

body {
    background-image: url('./background_image_2.jpg');
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.form-class-name {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    margin-top: 30px;
}

.new-form-class-name {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 30px;
}

.input-class-name {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #000;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.button-fancy {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
  background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
  padding: 3px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  width: 40px;
}

.button-fancy-new {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
    padding: 3px;
    border: 1px solid #000;
    color: black;
    text-decoration: none;
    width: 70px;
    height: 20px;
}

.button-fancy-newer {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
  background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
  padding: 3px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  width: 100px;
  height: 20px;
}

.button-fancy-newest {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
  background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
  padding: 3px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  width: 160px;
  height: 20px;
}

.title-h2 {
    text-align: center;
    font-size: 24px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.footer {
  padding-top: 25px;
  margin: auto;
}

.lee-name {
  line-height: 100px;
  margin-left: 140px;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.graeme-name {
  line-height: 100px;
  margin-left: 245px;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.shreyas-name {
  line-height: 100px;
  margin-left: 185px;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.caity-name {
  line-height: 100px;
  margin-left: 170px;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.lee-zeitz {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.graeme-bates {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 50px;
}

.shreyas {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 50px;
}

.avatar-img {
  padding-top: 15px;
  height: 70px;
  margin: 0 auto;
  display: block;
}

.get-started {
  text-align: center;
  font-size: 24px;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
